/*____________________HEADER LINKS AND LOGO START____________________*/
header{
    padding: .5%;
    margin: -1%;
    text-align: right;
    opacity: .8;
    background-color: black;
    position: sticky;
    top: 0;
}

.logo{
    width: 160px;
    margin: 0 1450px 0 0;
    opacity: 1;
}

.accountlink{
    color: honeydew;
    margin: 10px;
}

.button{
    background-color: magenta;
    border-radius: 30px;
    margin: 10px;
    border: none;
    padding: 10px;
    width: 150px;
    text-align: center;
    opacity: 1;
    transition: .5s;
    font-weight: bolder;
}

.button:hover{
    color: magenta;
    background-color: white;
    transition: .5s;
}

/*____________________HEADER LINKS AND LOGO END____________________*/

/*____________________BODY START____________________*/
.maincontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 7%  44% 0 21%;
}

.item1{
    color: honeydew;
    font-family: Helvetica;
    font-size: 50px;
    margin: 0;
}

.br1{
    width: 100%;
}

.item2{
    color: honeydew;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.br2{
    width: 100%;
}

.item3{
    width: fit-content;

    background-color: honeydew;
    border: 1px solid honeydew;
    border-radius: 30px;
    padding: 10px;
    width: 150px;
    text-align: center;
    margin-bottom: 30px;
    transition: .5s;
    font-weight: bolder;
}

.item3:hover{
    background-color: transparent;
    color: white;
    transition: .5s;
    border: 1px solid white;
}

.br3{
    width: 100%;
}

.item4{
    color: honeydew;
}

.br4{
    width: 100%;
}

.item5{
    width: fit-content;
    background-color: magenta;
    border-radius: 30px;
    border: 1px solid magenta;
    padding: 10px;
    width: 150px;
    text-align: center;
    transition: .5s;
    font-weight: bolder;
}

.item5:hover{
    background-color: white;
    border: 1px solid white;
    color: #545aa7;
    transition: .5s;
}
/*____________________BODY END____________________*/

/*____________________FOOTER START____________________*/
footer{
    margin: 20% -1% -1% -1%;
    padding: 40px 40px 130px 40px;
    background-image: linear-gradient(#000036, #000036);
    color: honeydew;
}
a{
    color: #545aa7;
    text-align: center;
    font-weight: bolder
}
a:link{
    text-decoration: none;
}

.sec1{
    display: flex;
    justify-content: space-around;
    margin: 0 30% 0 30%;
    font-family: Helvetica;
    font-size: 15px;
}

.sec2{
    display: flex;
    justify-content: space-between;
    margin: 1% 30% 0 30%;
    font-family: Helvetica;
    font-size: 15px;
}

.sec3{
    display: flex;
    justify-content: space-evenly;
    margin: 1% 30% 0 30%;
    font-family: Helvetica;
    font-size: 15px;
}

.sec4{
    display: flex;
    justify-content: space-around;
    margin: 1% 30% 0 30%;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bolder;
    margin: 1% 0 5px 0;
    color: #545aa7;
}

.footerlink:hover{
    color: white;
    transition: .5s;
}
/*____________________FOOTER END____________________*/